
<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Flask practice</title>
</head>

<body>
 <div class="login">
    <h1>Predict Salary Analysis</h1>
    
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="experience" placeholder="Experience" required="required" />
        <input type="text" name="test_score" placeholder="Test Score" required="required" />
        <input type="text" name="interview_score" placeholder="Interview Score" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   {{ result }}
 </div>
</body>
</html>
